/* CSS files add styling rules to your content */



.my-report-01 {
  background: papayawhip;
  height: 200vh;
}

h1{
  font-size: 3rem;
}

h2{
  color: green;
  font-size: 2rem;
  padding-top: 50px;
  padding-left: 50px;
}

.row{
  display: flex;
}

.col {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  flex: 1 1 auto;
  padding: 100px;
  background: lightgray;
  padding: 15px;
  margin: 50px;
}